# Project 3 Part 1

In [1]:
#imports 
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
%%time
title_basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'
title_akas = 'https://datasets.imdbws.com/title.akas.tsv.gz'
title_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.15 µs

In [3]:
%%time
basics = pd.read_csv(title_basics, sep='\t', low_memory=False)

CPU times: user 23 s, sys: 3.51 s, total: 26.5 s
Wall time: 40.5 s

In [4]:
%%time
akas = pd.read_csv(title_akas, sep='\t', low_memory=False)

CPU times: user 47.1 s, sys: 12 s, total: 59.1 s
Wall time: 1min 25s

In [5]:
%%time
ratings = pd.read_csv(title_ratings, sep='\t', low_memory=False)

CPU times: user 817 ms, sys: 171 ms, total: 988 ms
Wall time: 1.83 s

In [6]:
%%time
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9294674 entries, 0 to 9294673
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 638.2+ MB
CPU times: user 8.59 ms, sys: 7.31 ms, total: 15.9 ms
Wall time: 16.2 ms

In [7]:
basics.duplicated().sum()

0

In [8]:
%%time
basics.replace({'\\N':np.nan}, inplace=True)

CPU times: user 13.7 s, sys: 1.43 s, total: 15.2 s
Wall time: 15.2 s

In [9]:
%%time
basics.isnull().sum()

CPU times: user 10.1 s, sys: 103 ms, total: 10.2 s
Wall time: 10.3 s

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1242462
endYear           9197350
runtimeMinutes    6791397
genres             428637
dtype: int64

## Eliminate movies that are null for runtimeMinutes

In [10]:
basics.dropna(subset=['runtimeMinutes'], inplace=True)

In [11]:
%%time
basics.isnull().sum()

CPU times: user 2.76 s, sys: 16.3 ms, total: 2.78 s
Wall time: 2.78 s

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear           38083
endYear           2455796
runtimeMinutes          0
genres              67818
dtype: int64

In [12]:
basics.dropna(subset=['genres'], inplace=True)

In [13]:
%%time
basics.isnull().sum()

CPU times: user 2.52 s, sys: 10.6 ms, total: 2.53 s
Wall time: 2.53 s

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           36745
endYear           2389542
runtimeMinutes          0
genres                  0
dtype: int64

#  keep only titleType==Movie

In [14]:
movie = basics['titleType'] == 'movie'
basics = basics[movie]

In [15]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369604 entries, 8 to 9294624
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          369604 non-null  object
 1   titleType       369604 non-null  object
 2   primaryTitle    369604 non-null  object
 3   originalTitle   369604 non-null  object
 4   isAdult         369604 non-null  object
 5   startYear       363690 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  369604 non-null  object
 8   genres          369604 non-null  object
dtypes: object(9)
memory usage: 28.2+ MB

### keep startYear 2000-2022

In [16]:
#Convert column to a numeric column 
basics['startYear'] = pd.to_numeric(basics['startYear'])

## keep startYear 2000-2022

In [17]:
year20 = basics['startYear'] >=2000 

year22 = basics['startYear'] <= 2022

In [18]:
basics = basics[year20 & year22]

In [19]:
#check that Startyear was converted from an object Dtype to a numeric Dtype 
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217180 entries, 13079 to 9294624
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          217180 non-null  object
 1   titleType       217180 non-null  object
 2   primaryTitle    217180 non-null  object
 3   originalTitle   217180 non-null  object
 4   isAdult         217180 non-null  object
 5   startYear       217180 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  217180 non-null  object
 8   genres          217180 non-null  object
dtypes: float64(1), object(8)
memory usage: 16.6+ MB

In [20]:
basics['startYear']

13079      2021.0
34792      2001.0
61094      2020.0
66309      2006.0
67640      2018.0
            ...
9294439    2020.0
9294523    2019.0
9294564    2015.0
9294591    2007.0
9294624    2013.0
Name: startYear, Length: 217180, dtype: float64

### Include only full-length movies (titleType = "movie").

In [26]:
movies = basics['genres'].str.contains('documentary')
basics = basics[movies]

In [24]:
basics = basics[basics['genres'].str.contains("documentary") == False]

### Include only fictional movies (not from documentary genre)

In [27]:
doc = basics['genres'].str.contains('documentary',case=False)
basics = basics[doc]

basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      object
dtypes: float64(1), object(8)
memory usage: 0.0+ bytes

### Include only movies that were released in the United States

In [29]:
#  I will use the Title ID column from the akas Dataset to deetermine if the movie is 
us_movies = basics['tconst'].isin(akas['titleId'])
basics = basics[us_movies]

basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      object
dtypes: float64(1), object(8)
memory usage: 0.0+ bytes

In [30]:
%%time
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33475127 entries, 0 to 33475126
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB
CPU times: user 3.78 ms, sys: 222 µs, total: 4.01 ms
Wall time: 3.93 ms

In [31]:
akas['region'].value_counts()

JP    3998102
FR    3996952
DE    3980169
IN    3928289
ES    3920083
       ...
CC          1
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

In [32]:
akas['language'].value_counts()

\N     6293901
ja     3866475
fr     3830856
hi     3804178
es     3779165
        ...
rm           1
roa          1
rn           1
eka          1
cr           1
Name: language, Length: 107, dtype: int64

In [34]:
#replace null values 
akas.replace({'\\N':np.nan}, inplace=True)

In [33]:
%%time 
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238083 entries, 0 to 1238082
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238083 non-null  object
 1   averageRating  1238083 non-null  float64
 2   numVotes       1238083 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.3+ MB
CPU times: user 148 ms, sys: 4.12 ms, total: 152 ms
Wall time: 150 ms

In [35]:
#replace null values 
ratings.replace({'\\N':np.nan}, inplace=True)

In [36]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33475127 entries, 0 to 33475126
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [37]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238083 entries, 0 to 1238082
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238083 non-null  object
 1   averageRating  1238083 non-null  float64
 2   numVotes       1238083 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.3+ MB

In [38]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      object
dtypes: float64(1), object(8)
memory usage: 0.0+ bytes