# Project 3 Part 3
For part 3 of the project you will be practicing applying an E.T.L process on your previously saved movie data. Specifically, you will create a new MySQL database after preparing the data for a relational database. You will export your database to a .sql file in your repository using MySQL Workbench.
Specifications - Database
Your stakeholder wants you to take the data you have been cleaning and collecting in Parts 1 & 2 of the project, and wants you to create a MySQL database for them.

You should normalize the tables as best you can before adding them to your new database.

Note: an important exception to their request is that they would like you to keep all of the data from the TMDB API in 1 table together (even though it will not be perfectly normalized).
You only need to keep the imdb_id, revenue, budget, and certification columns
Required Transformation steps:
Normalize Genre:

Convert the single string of genres from title basics into 2 new tables.
title_genres: with the columns:

* tconst
* genre_id
# genres:

genre_id
genre_name
Discard unnecessary information:

For the title basics table, drop the following columns:
* "original_title" (we will use the primary title column instead)
* "isAdult" ("Adult" will show up in the genres so this is redundant information).
* "titleType" (every row will be a movie).
* "genres" and other variants of genre (genre is now represented in the 2 new tables described above.
### Do not include the title_akas table in your SQL database.
You have already filtered out the desired movies using this table and the remaining data is mostly nulls and not of-interest to the stakeholder.
MySQL Database Requirements
Use sqlalchemy with pandas to execute your SQL queries inside your notebook.

Create a new database on your MySQL server and call it "movies".

Make sure to have the following tables in your "movies" database:

* title_basics
* title_ratings
* title_genres
### genres
tmdb_data
Make sure to set a Primary Key for each table that isn't a joiner table (e.g. title_genres is a joiner table).

After creating each table, show the first 5 rows of that table using a SQL query.

Make sure to run the "SHOW TABLES" SQL query at the end of your notebook to show that all required tables have been created.

Deliverables
Submit a link to your github respository containing the Jupyter Notebook file.

### Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
import os, time,json
import tmdbsimple as tmdb

In [2]:
# SQL Imports 
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb() 
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
## Change username and password to match your personal MySQL Server settings
username = 'root' # default username for MySQL db is root
password = 'abdothedatascientist' # whatever password you chose during MySQL installation.

movies = f'mysql+pymysql://{username}:{password}@localhost/movies'
engine = create_engine(movies)

In [3]:
if database_exists(movies) == False: 
  create_database(movies)
else: 
  print('The database already exists.')

The database already exists.

# Convert the single string of genres from title basics into 2 new tables.
## title_genres: with the columns:
* tconst
* genre_id

In [4]:
basics_df = pd.read_csv('Data/basics.csv.gz')
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [5]:
ratings_df = pd.read_csv('Data/ratings.csv.gz')
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1920
1  tt0000002            5.8       260
2  tt0000003            6.5      1728
3  tt0000004            5.6       173
4  tt0000005            6.2      2541

In [6]:
tmdb_comb = pd.read_csv('Data/combined_tmdb_dataframe.csv')
tmdb_comb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.110,2020.0,PG
1,tt0118852,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.729,48.0,R
2,tt0119273,0.0,/f5C03doOWiauu37bToKXtpgP5bS.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.114,162.0,R
3,tt0119495,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,51181.0,en,Love 101,...,0.0,86.0,[],Released,NaN,Love 101,0.0,0.000,0.0,R
4,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.400,42.0,R

In [7]:
## create a col with a list of genres
basics_df['genres_split'] = basics_df['genres'].str.split(',')
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
83127,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
83128,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
83129,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
83130,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
83131,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [8]:
exploded_genres = basics_df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
83130,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
83130,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
83130,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
83131,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
83131,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [9]:
#Get the string column converted to a list of strings in each row 

genres_split = basics_df['genres'].str.split(",")

#Explode the series to take only the unique genres use .explode and .unique 
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Mystery', 'Musical', 'Action', 'Adventure', 'Crime', 'Thriller',
       'Music', 'Animation', 'Family', 'History', 'War', 'Biography',
       'Sport', 'Western', 'Adult', 'Short', 'Reality-TV', 'News',
       'Talk-Show', 'Game-Show'], dtype=object)

In [10]:
#Split the unique genres and save them in a variable 
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [11]:
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [12]:
#create a new title_genres from the exploded df. Our two columns will be tconst and genres_split columns.
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [13]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [14]:
# make a new dictionary with the list of unique genres and their integer id 
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))

genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [15]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [16]:
#manually make a dataframe with named cols from the keys and values 

genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                             'Genre_ID':genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [17]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics_df['tconst'].fillna('').map(len).max()
title_len = basics_df['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [18]:
# Save to sql with dtype and index=False
basics_df.to_sql('basics',engine, dtype= df_schema , if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO basics (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres, genres_split) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': 0, 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El Tango del Viudo y Su Espejo Deformante', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': 0, 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': 0, 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': 0, 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'titleType': 'movie', 'primaryTitle': 'The Wandering Soap Opera', 'originalTitle': 'La Telenovela Errante', 'isAdult': 0, 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genres_split': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0104278', 'titleType': 'movie', 'primaryTitle': 'Flaming Ears', 'originalTitle': 'Flaming Ears', 'isAdult': 0, 'startYear': 2013.0, 'endYear': None, 'runtimeMinutes': 84, 'genres': 'Fantasy,Sci-Fi', 'genres_split': ['Fantasy', 'Sci-Fi']}, {'tconst': 'tt0108549', 'titleType': 'movie', 'primaryTitle': 'West from North Goes South', 'originalTitle': 'West from North Goes South', 'isAdult': 0, 'startYear': 2004.0, 'endYear': None, 'runtimeMinutes': 96, 'genres': 'Comedy,Mystery', 'genres_split': ['Comedy', 'Mystery']}  ... displaying 10 of 83132 total bound parameter sets ...  {'tconst': 'tt9916190', 'titleType': 'movie', 'primaryTitle': 'Safeguard', 'originalTitle': 'Safeguard', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 95, 'genres': 'Action,Adventure,Thriller', 'genres_split': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
tmdb_comb.to_sql('tmdb_Combined', engine, dtype= df_schema , if_exists='replace', index=False)

In [ ]:
ratings_df.to_sql('Ratings', engine, dtype= df_schema, if_exists='replace', index=False)

In [19]:
q = '''SHOW TABLES;'''
pd.read_sql(q,engine)

  Tables_in_movies
0           basics
1        basics_df
2          Ratings
3    tmdb_Combined