# Project 3 Part 1

In [1]:
#imports 
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
%%time
basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'
akas = 'https://datasets.imdbws.com/title.akas.tsv.gz'
ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.15 µs

In [3]:
%%time
basics = pd.read_csv(basics, sep='\t', low_memory=False)

CPU times: user 30 s, sys: 4.71 s, total: 34.7 s
Wall time: 48.8 s

In [4]:
%%time
basics

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.96 µs

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9326958,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
9326959,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
9326960,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
9326961,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
9326962,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [5]:
%%time
akas = pd.read_csv(akas, sep='\t', low_memory=False)

CPU times: user 49 s, sys: 7.82 s, total: 56.8 s
Wall time: 1min 20s

In [6]:
%%time 
akas

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 6.91 µs

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
33637395,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
33637396,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
33637397,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
33637398,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
33637399,tt9916856,2,The Wind,\N,\N,original,\N,1

In [7]:
%%time
ratings = pd.read_csv(ratings, sep='\t', low_memory=False)

CPU times: user 944 ms, sys: 195 ms, total: 1.14 s
Wall time: 1.94 s

In [8]:
%%time
ratings

CPU times: user 4 µs, sys: 2 µs, total: 6 µs
Wall time: 11 µs

            tconst  averageRating  numVotes
0        tt0000001            5.7      1920
1        tt0000002            5.8       260
2        tt0000003            6.5      1728
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1241482  tt9916690            7.4         6
1241483  tt9916720            5.3       270
1241484  tt9916730            9.0         6
1241485  tt9916766            6.7        21
1241486  tt9916778            7.3        35

[1241487 rows x 3 columns]

In [9]:
%%time
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9326963 entries, 0 to 9326962
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 640.4+ MB
CPU times: user 7.24 ms, sys: 583 µs, total: 7.83 ms
Wall time: 7.7 ms

In [10]:
basics.duplicated().sum()

0

In [11]:
%%time
basics.replace({'\\N':np.nan}, inplace=True)

CPU times: user 15.5 s, sys: 1.26 s, total: 16.8 s
Wall time: 16.9 s

In [12]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9326963 entries, 0 to 9326962
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 640.4+ MB

In [13]:
%%time
basics.isnull().sum()

CPU times: user 10.8 s, sys: 125 ms, total: 10.9 s
Wall time: 10.9 s

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1248968
endYear           9229165
runtimeMinutes    6782099
genres             430198
dtype: int64

## Eliminate movies that are null for runtimeMinutes

In [14]:
basics.dropna(subset=['runtimeMinutes'], inplace=True)

In [15]:
%%time
basics.isnull().sum()

CPU times: user 3.5 s, sys: 57.6 ms, total: 3.55 s
Wall time: 3.7 s

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear           59560
endYear           2497186
runtimeMinutes          0
genres              67990
dtype: int64

In [16]:
basics.dropna(subset=['genres'], inplace=True)

In [17]:
%%time
basics.isnull().sum()

CPU times: user 3.33 s, sys: 50.6 ms, total: 3.38 s
Wall time: 3.43 s

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           58220
endYear           2430759
runtimeMinutes          0
genres                  0
dtype: int64

#  keep only titleType==Movie

In [18]:
movie = basics['titleType'] == 'movie'
basics = basics[movie]

In [19]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370737 entries, 8 to 9326913
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          370737 non-null  object
 1   titleType       370737 non-null  object
 2   primaryTitle    370737 non-null  object
 3   originalTitle   370737 non-null  object
 4   isAdult         370737 non-null  object
 5   startYear       364813 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  370737 non-null  object
 8   genres          370737 non-null  object
dtypes: object(9)
memory usage: 28.3+ MB

### keep startYear 2000-2022

In [20]:
#Convert column to a numeric column 
basics['startYear'] = pd.to_numeric(basics['startYear'])

/var/folders/m_/dfy7jmxs4_xdvc_jdvxfvxmh0000gn/T/ipykernel_56345/2626350886.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basics['startYear'] = pd.to_numeric(basics['startYear'])

## keep startYear 2000-2022

In [21]:
year20 = basics['startYear'] >=2000 

year22 = basics['startYear'] <= 2022

In [22]:
basics = basics[year20 & year22]

In [23]:
#check that Startyear was converted from an object Dtype to a numeric Dtype 
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218063 entries, 13079 to 9326913
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          218063 non-null  object
 1   titleType       218063 non-null  object
 2   primaryTitle    218063 non-null  object
 3   originalTitle   218063 non-null  object
 4   isAdult         218063 non-null  object
 5   startYear       218063 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  218063 non-null  object
 8   genres          218063 non-null  object
dtypes: float64(1), object(8)
memory usage: 16.6+ MB

In [24]:
basics['startYear']

13079      2021.0
34793      2001.0
61095      2020.0
66310      2006.0
67641      2018.0
            ...
9326728    2020.0
9326812    2019.0
9326853    2015.0
9326880    2007.0
9326913    2013.0
Name: startYear, Length: 218063, dtype: float64

### Include only fictional movies (not from documentary genre)

In [25]:
basics = basics[basics['genres'].str.contains("documentary",case = False) == False]
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144302 entries, 34793 to 9326812
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          144302 non-null  object
 1   titleType       144302 non-null  object
 2   primaryTitle    144302 non-null  object
 3   originalTitle   144302 non-null  object
 4   isAdult         144302 non-null  object
 5   startYear       144302 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  144302 non-null  object
 8   genres          144302 non-null  object
dtypes: float64(1), object(8)
memory usage: 11.0+ MB

In [26]:
#doc = basics['genres'].str.contains('documentary',case=False)
#basics = basics[doc]

#basics.info()
#basics.head()

In [27]:
%%time
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33637400 entries, 0 to 33637399
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB
CPU times: user 8.63 ms, sys: 662 µs, total: 9.3 ms
Wall time: 9.49 ms

In [28]:
akas['region'].value_counts()

JP    4015541
FR    4014312
DE    4011646
IN    3946435
ES    3937293
       ...
CC          1
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

In [29]:
akas['language'].value_counts()

\N     6328720
ja     3883623
fr     3847842
hi     3821448
es     3795968
        ...
rm           1
roa          1
rn           1
eka          1
cr           1
Name: language, Length: 107, dtype: int64

In [30]:
#replace null values 
akas.replace({'\\N':np.nan}, inplace=True)

In [31]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [32]:
akas = akas.loc[akas['region'] == 'US']

In [33]:
%%time 
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1241487 entries, 0 to 1241486
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1241487 non-null  object
 1   averageRating  1241487 non-null  float64
 2   numVotes       1241487 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.4+ MB
CPU times: user 181 ms, sys: 4.5 ms, total: 185 ms
Wall time: 184 ms

In [34]:
#replace null values 
ratings.replace({'\\N':np.nan}, inplace=True)

In [35]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1362614 entries, 5 to 33637144
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1362614 non-null  object
 1   ordering         1362614 non-null  int64
 2   title            1362614 non-null  object
 3   region           1362614 non-null  object
 4   language         3704 non-null     object
 5   types            965225 non-null   object
 6   attributes       45242 non-null    object
 7   isOriginalTitle  1361239 non-null  object
dtypes: int64(1), object(7)
memory usage: 93.6+ MB

In [36]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1241487 entries, 0 to 1241486
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1241487 non-null  object
 1   averageRating  1241487 non-null  float64
 2   numVotes       1241487 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.4+ MB

In [37]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144302 entries, 34793 to 9326812
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          144302 non-null  object
 1   titleType       144302 non-null  object
 2   primaryTitle    144302 non-null  object
 3   originalTitle   144302 non-null  object
 4   isAdult         144302 non-null  object
 5   startYear       144302 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  144302 non-null  object
 8   genres          144302 non-null  object
dtypes: float64(1), object(8)
memory usage: 11.0+ MB

### Include only movies that were released in the United States

In [38]:
#  I will use the Title ID column from the akas Dataset to deetermine if the movie is 
us_movies = basics['tconst'].isin(akas['titleId'])
basics = basics[us_movies]

basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83132 entries, 34793 to 9326728
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          83132 non-null  object
 1   titleType       83132 non-null  object
 2   primaryTitle    83132 non-null  object
 3   originalTitle   83132 non-null  object
 4   isAdult         83132 non-null  object
 5   startYear       83132 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  83132 non-null  object
 8   genres          83132 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.3+ MB

In [39]:
df = basics

In [40]:
basic_csv = df.to_csv("Data/basics.csv.gz", 
           index=False, 
           compression="gzip")

In [41]:
a_df = akas

In [42]:
akas_csv = a_df.to_csv("Data/akas.csv.gz", 
           index=False, 
           compression="gzip")

In [43]:
r_df = ratings

In [44]:
ratings_csv = r_df.to_csv("Data/ratings.csv.gz", 
           index=False, 
           compression="gzip")