# Project 3 Part 1

In [1]:
#imports 
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
%%time
basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'
akas = 'https://datasets.imdbws.com/title.akas.tsv.gz'
ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

In [3]:
%%time
basics = pd.read_csv(basics, sep='\t', low_memory=False)

CPU times: user 21.8 s, sys: 3.16 s, total: 25 s
Wall time: 37.5 s

In [9]:
%%time
basics

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,\N
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,\N
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,\N
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,\N
...,...,...,...,...,...,...,...,...,...
9308644,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,\N
9308645,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,\N
9308646,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,\N
9308647,tt9916856,short,The Wind,The Wind,0,2015,\N,27,\N
9308648,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,\N

In [10]:
%%time
akas = pd.read_csv(akas, sep='\t', low_memory=False)

CPU times: user 39.2 s, sys: 7.11 s, total: 46.3 s
Wall time: 1min 10s

In [13]:
%%time 
akas

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 6.2 µs

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
33552681,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
33552682,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
33552683,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
33552684,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
33552685,tt9916856,2,The Wind,\N,\N,original,\N,1

In [14]:
%%time
ratings = pd.read_csv(ratings, sep='\t', low_memory=False)

CPU times: user 819 ms, sys: 167 ms, total: 985 ms
Wall time: 1.76 s

In [15]:
%%time
ratings

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 7.15 µs

            tconst  averageRating  numVotes
0        tt0000001            5.7      1919
1        tt0000002            5.8       260
2        tt0000003            6.5      1726
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1238958  tt9916690            7.4         6
1238959  tt9916720            5.3       270
1238960  tt9916730            8.4         6
1238961  tt9916766            6.7        21
1238962  tt9916778            7.3        35

[1238963 rows x 3 columns]

In [16]:
%%time
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9308649 entries, 0 to 9308648
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 639.2+ MB
CPU times: user 4.57 ms, sys: 408 µs, total: 4.98 ms
Wall time: 4.66 ms

In [17]:
basics.duplicated().sum()

0

In [18]:
%%time
basics.replace({'\\N':np.nan}, inplace=True)

CPU times: user 13.7 s, sys: 1.28 s, total: 14.9 s
Wall time: 15 s

In [19]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9308649 entries, 0 to 9308648
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          float64
dtypes: float64(1), object(8)
memory usage: 639.2+ MB

In [20]:
%%time
basics.isnull().sum()

CPU times: user 7.72 s, sys: 39.7 ms, total: 7.76 s
Wall time: 7.84 s

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1245164
endYear           9211067
runtimeMinutes    6795228
genres            9308649
dtype: int64

## Eliminate movies that are null for runtimeMinutes

In [21]:
basics.dropna(subset=['runtimeMinutes'], inplace=True)

In [24]:
%%time
basics.isnull().sum()

CPU times: user 922 µs, sys: 29 µs, total: 951 µs
Wall time: 932 µs

tconst            0.0
titleType         0.0
primaryTitle      0.0
originalTitle     0.0
isAdult           0.0
startYear         0.0
endYear           0.0
runtimeMinutes    0.0
genres            0.0
dtype: float64

In [25]:
basics.dropna(subset=['genres'], inplace=True)

In [26]:
%%time
basics.isnull().sum()

CPU times: user 942 µs, sys: 51 µs, total: 993 µs
Wall time: 984 µs

tconst            0.0
titleType         0.0
primaryTitle      0.0
originalTitle     0.0
isAdult           0.0
startYear         0.0
endYear           0.0
runtimeMinutes    0.0
genres            0.0
dtype: float64

#  keep only titleType==Movie

In [27]:
movie = basics['titleType'] == 'movie'
basics = basics[movie]

In [28]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      object
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      float64
dtypes: float64(1), object(8)
memory usage: 0.0+ bytes

### keep startYear 2000-2022

In [29]:
#Convert column to a numeric column 
basics['startYear'] = pd.to_numeric(basics['startYear'])

## keep startYear 2000-2022

In [30]:
year20 = basics['startYear'] >=2000 

year22 = basics['startYear'] <= 2022

In [31]:
basics = basics[year20 & year22]

In [19]:
#check that Startyear was converted from an object Dtype to a numeric Dtype 
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      float64
dtypes: float64(1), int64(1), object(7)
memory usage: 0.0+ bytes

In [32]:
basics['startYear']

Series([], Name: startYear, dtype: int64)

### Include only full-length movies (titleType = "movie").

In [34]:
movies = basics['genres'].str.contains('documentary')
basics = basics[movies]

AttributeError: Can only use .str accessor with string values!

In [35]:
basics = basics[basics['genres'].str.contains("documentary") == False]

AttributeError: Can only use .str accessor with string values!

### Include only fictional movies (not from documentary genre)

In [36]:
doc = basics['genres'].str.contains('documentary',case=False)
basics = basics[doc]

basics.info()

AttributeError: Can only use .str accessor with string values!

### Include only movies that were released in the United States

In [37]:
#  I will use the Title ID column from the akas Dataset to deetermine if the movie is 
us_movies = basics['tconst'].isin(akas['titleId'])
basics = basics[us_movies]

basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      float64
dtypes: float64(1), int64(1), object(7)
memory usage: 0.0+ bytes

In [38]:
%%time
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33552686 entries, 0 to 33552685
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB
CPU times: user 4.19 ms, sys: 184 µs, total: 4.38 ms
Wall time: 4.27 ms

In [26]:
akas['region'].value_counts()

JP    4005342
FR    4004178
DE    3999740
IN    3935646
ES    3927223
       ...
CC          1
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

In [27]:
akas['language'].value_counts()

\N     6316489
ja     3873597
fr     3837926
hi     3811324
es     3786128
        ...
rm           1
roa          1
rn           1
eka          1
cr           1
Name: language, Length: 107, dtype: int64

In [39]:
#replace null values 
akas.replace({'\\N':np.nan}, inplace=True)

In [29]:
%%time 
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238963 entries, 0 to 1238962
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238963 non-null  object
 1   averageRating  1238963 non-null  float64
 2   numVotes       1238963 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.4+ MB
CPU times: user 161 ms, sys: 3.33 ms, total: 165 ms
Wall time: 163 ms

In [30]:
#replace null values 
ratings.replace({'\\N':np.nan}, inplace=True)

In [31]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33552686 entries, 0 to 33552685
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [32]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238963 entries, 0 to 1238962
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238963 non-null  object
 1   averageRating  1238963 non-null  float64
 2   numVotes       1238963 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.4+ MB

In [38]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      float64
dtypes: float64(1), int64(1), object(7)
memory usage: 0.0+ bytes

In [54]:
df = basics

In [55]:
basic_csv = df.to_csv("Data/basics.csv.gz", 
           index=False, 
           compression="gzip")

In [56]:
a_df = akas

In [57]:
akas_csv = a_df.to_csv("Data/akas.csv.gz", 
           index=False, 
           compression="gzip")

In [60]:
r_df = ratings

In [63]:
ratings_csv = r_df.to_csv("Data/ratings.csv.gz", 
           index=False, 
           compression="gzip")

In [86]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (2.9.1)
Requirement already satisfied: requests in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2022.9.24)

In [100]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title.akas.tsv.gz',
 '.DS_Store',
 'basics.csv.gz',
 'title.basics.tsv.gz',
 'ratings.csv.gz',
 'title.ratings.tsv.gz',
 'akas.csv.gz',
 '.ipynb_checkpoints']

In [101]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [92]:
#Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/basics.csv.gz')

In [94]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/basics.csv.gz')

In [95]:
YEARS_TO_GET = [2000,2001]

In [96]:
errors = [ ]

In [102]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
  #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
            

    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()

    # Load existing data from json into a dataframe called "previous_df"
    # Instead of previous_df=pd.read_json:
    previous_df = pd.read_json(JSON_FILE)



    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            continue

NameError: name 'tqdm_notebook' is not defined

In [76]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

NameError: name 'YEAR' is not defined