In [1]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (2.9.1)
Requirement already satisfied: requests in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2022.9.24)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
import os, time,json
import tmdbsimple as tmdb 
from tqdm.notebook import tqdm_notebook

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title.ratings.tsv',
 'title.akas.tsv.gz',
 '.DS_Store',
 'basics.csv.gz',
 'tmdb_api_results_2000.json',
 'title.basics.tsv.gz',
 'ratings.csv.gz',
 'title.ratings.tsv.gz',
 'akas.csv.gz',
 '.ipynb_checkpoints']

In [3]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (2.9.1)
Requirement already satisfied: requests in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/abibrahim/.conda/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (3.3)

In [4]:
import json
with open('/Users/abibrahim/.secret/tmdb_api.json/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [5]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [6]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [7]:
movie = tmdb.Movies(100)

In [8]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/cXQH2u7wUIX1eoIdEj51kHXoWhX.jpg',
 'belongs_to_collection': None,
 'budget': 1350000,
 'genres': [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}],
 'homepage': 'http://www.universalstudiosentertainment.com/lock-stock-and-two-smoking-barrels/',
 'id': 100,
 'imdb_id': 'tt0120735',
 'original_language': 'en',
 'original_title': 'Lock, Stock and Two Smoking Barrels',
 'overview': 'A card shark and his unwillingly-enlisted friends need to make a lot of cash quick after losing a sketchy poker match. To do this they decide to pull a heist on a small-time gang who happen to be operating out of the flat next door.',
 'popularity': 11.8,
 'poster_path': '/8kSerJrhrJWKLk1LViesGcnrUPE.jpg',
 'production_companies': [{'id': 491,
   'logo_path': '/rUp0lLKa1pr4UsPm8fgzmnNGxtq.png',
   'name': 'Summit Entertainment',
   'origin_country': 'US'},
  {'id': 1382,
   'logo_path': '/sOg7LGESPH5vCTOIdbMhLuypoLL.png',
   'name': 'PolyGram Filmed Entertainment',
   'origin_country': 'US'},
  {'id': 13419,
   'logo_path': None,
   'name': 'SKA Films',
   'origin_country': 'GB'},
  {'id': 20076,
   'logo_path': '/i9qXGJIP9fGN22PP5jXUVENbyHi.png',
   'name': 'HandMade Films',
   'origin_country': 'GB'},
  {'id': 21920,
   'logo_path': None,
   'name': 'The Steve Tisch Company',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}],
 'release_date': '1998-08-28',
 'revenue': 28356188,
 'runtime': 105,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'A Disgrace to Criminals Everywhere.',
 'title': 'Lock, Stock and Two Smoking Barrels',
 'video': False,
 'vote_average': 8.149,
 'vote_count': 5652}

In [9]:
releases = movie.releases()
for i in releases['countries']:
    if i['iso_3166_1'] == 'US':
        print(i['certification'])

R

In [10]:
def get_movie_with_rating_id(movie_id):
    """Adapted from source = https://github.com/celio/tmdbsimple"""
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
           info['certification'] = c['certification']
    return info

In [11]:
test = get_movie_with_rating_id("tt0848228") #put your function name here
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 221.907,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.707,
 'vote_count': 27716,
 'certification': 'PG-13'}

In [12]:
test = get_movie_with_rating_id("tt0332280") #put your function name here
test

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 62.882,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.9,
 'vote_count': 9897,
 'certification': 'PG-13'}

In [13]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title.ratings.tsv',
 'title.akas.tsv.gz',
 '.DS_Store',
 'basics.csv.gz',
 'tmdb_api_results_2000.json',
 'title.basics.tsv.gz',
 'ratings.csv.gz',
 'title.ratings.tsv.gz',
 'akas.csv.gz',
 '.ipynb_checkpoints']

In [14]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [15]:
basics = pd.read_csv('Data/basics.csv.gz')

In [16]:
YEARS_TO_GET = [2000,2001]

In [17]:
errors = [ ]

In [36]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0): 
    #Defining the JSON file to store results for year
    JSON_FILE = f'Data/tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
                json.dump([{'imdb_id':0}],f)
    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

 #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating_id(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
    
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/205 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/239 [00:00<?, ?it/s]

In [37]:
final_df = pd.read_json(JSON_FILE)
final_df.head(10)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,None,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.324,1152.0,PG-13
2,tt0114447,0.0,None,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,None,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.600,118.0,PG-13
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,None,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.100,28.0,R
5,tt0119004,0.0,/7xrlSPGDO4CDT6IHTctDlkYxTzw.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",,37857.0,en,Don's Plum,...,6297.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Don's Plum,0.0,5.400,63.0,NaN
6,tt0120166,0.0,/havCE85OV7FUMWzqAZ9x31XRRCA.jpg,None,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",,50944.0,en,The Sorcerer's Apprentice,...,0.0,86.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,The Sorcerer's Apprentice,0.0,4.800,10.0,NR
7,tt0120624,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",,50230.0,pt,Camarate,...,0.0,100.0,"[{'english_name': 'Portuguese', 'iso_639_1': '...",Released,,Camarate,0.0,7.300,6.0,NaN
8,tt0120681,0.0,/xo2S7gRwCvWdVqM0Swv37yA2rzw.jpg,None,35000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",,768.0,en,From Hell,...,74558115.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the legend will survive.,From Hell,0.0,6.695,2392.0,R
9,tt0120737,0.0,/tqj7NKj11keFuLzPsBDMUq2dOUO.jpg,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120.0,en,The Lord of the Rings: The Fellowship of the Ring,...,871368364.0,179.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,0.0,8.389,21741.0,PG-13

In [38]:
year_2000_df = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
year_2001_df = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [40]:
years_2000_2002 = pd.concat((year_2000_df, year_2001_df ), axis = 1)

In [41]:
years_2000_2002

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.324,1152.0,PG-13
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.600,118.0,PG-13
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.100,28.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,91.0,[],Released,NaN,Edmund Kemper Part 2: La Mort C'est La Vie,0.0,0.000,0.0,NaN
1288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.000,0.0,NaN
1289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.000,0.0,NaN
1290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.000,0.0,NR
1291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.000,2.0,NaN

In [42]:
years_2000_2002.describe()

,adult,budget,id,popularity,revenue,runtime,video,vote_average,vote_count,adult,budget,id,popularity,revenue,runtime,video,vote_average,vote_count
count,1206.000000,1.206000e+03,1.206000e+03,1206.000000,1.206000e+03,1206.000000,1206.000000,1206.000000,1206.000000,1291.000000,1.291000e+03,1.291000e+03,1291.000000,1.291000e+03,1291.000000,1291.0,1291.000000,1291.000000
mean,0.002488,5.306588e+06,1.795202e+05,5.393775,1.052541e+07,92.053897,0.003317,4.518347,239.362355,0.001549,5.342633e+06,1.655147e+05,6.032928,1.186956e+07,92.769946,0.0,4.610545,288.618900
std,0.049834,1.717235e+07,2.140033e+05,11.884873,4.589058e+07,30.423641,0.057519,2.503624,1035.093621,0.039344,1.727333e+07,2.024902e+05,16.251028,5.904138e+07,30.070314,0.0,2.456418,1431.541433
min,0.000000,0.000000e+00,1.600000e+01,0.600000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.200000e+02,0.600000,0.000000e+00,0.000000,0.0,0.000000,0.000000
25%,0.000000,0.000000e+00,2.755525e+04,0.871000,0.000000e+00,87.000000,0.000000,3.000000,1.000000,0.000000,0.000000e+00,2.614550e+04,0.919000,0.000000e+00,87.000000,0.0,3.500000,1.000000
50%,0.000000,0.000000e+00,8.123350e+04,2.164500,0.000000e+00,93.000000,0.000000,5.300000,6.000000,0.000000,0.000000e+00,7.427400e+04,2.164000,0.000000e+00,94.000000,0.0,5.387000,7.000000
75%,0.000000,0.000000e+00,2.734668e+05,5.700000,0.000000e+00,104.000000,0.000000,6.300000,39.000000,0.000000,0.000000e+00,2.601735e+05,5.575500,0.000000e+00,104.000000,0.0,6.343500,42.000000
max,1.000000,1.275000e+08,1.000012e+06,265.798000,5.463881e+08,345.000000,1.000000,10.000000,15712.000000,1.000000,1.400000e+08,1.030475e+06,299.238000,9.764756e+08,301.000000,0.0,10.000000,23474.000000