# Project 3 Part 1

In [1]:
#imports 
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
%%time
title_basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'
title_akas = 'https://datasets.imdbws.com/title.akas.tsv.gz'
title_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 5.72 µs

In [3]:
basics = pd.read_csv(title_basics, sep='\t', low_memory=False)

In [4]:
akas = pd.read_csv(title_akas, sep='\t', low_memory=False)

In [5]:
ratings = pd.read_csv(title_ratings, sep='\t', low_memory=False)

In [6]:
%%time
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9292084 entries, 0 to 9292083
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 638.0+ MB
CPU times: user 5.16 ms, sys: 436 µs, total: 5.6 ms
Wall time: 5.38 ms

In [7]:
basics.duplicated().sum()

0

In [14]:
%%time
basics.replace({'\\N':np.nan}, inplace=True)

CPU times: user 11.6 s, sys: 635 ms, total: 12.2 s
Wall time: 12.2 s

In [16]:
%%time
basics.isnull().sum()

CPU times: user 8.22 s, sys: 37.7 ms, total: 8.25 s
Wall time: 8.26 s

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1242184
endYear           9194789
runtimeMinutes    6789899
genres             428534
dtype: int64

## Eliminate movies that are null for runtimeMinutes

In [21]:
basics.dropna(subset=['runtimeMinutes'], inplace=True)

In [22]:
%%time
basics.isnull().sum()

CPU times: user 2.44 s, sys: 9.5 ms, total: 2.45 s
Wall time: 2.45 s

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear           37961
endYear           2454719
runtimeMinutes          0
genres              67817
dtype: int64

In [24]:
basics.dropna(subset=['genres'], inplace=True)

In [25]:
%%time
basics.isnull().sum()

CPU times: user 2.42 s, sys: 10.9 ms, total: 2.43 s
Wall time: 2.43 s

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           36623
endYear           2388465
runtimeMinutes          0
genres                  0
dtype: int64

#  keep only titleType==Movie

In [32]:
movie = basics['titleType'] == 'movie'
basics = basics[movie]

In [34]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369539 entries, 8 to 9292034
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          369539 non-null  object
 1   titleType       369539 non-null  object
 2   primaryTitle    369539 non-null  object
 3   originalTitle   369539 non-null  object
 4   isAdult         369539 non-null  object
 5   startYear       363626 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  369539 non-null  object
 8   genres          369539 non-null  object
dtypes: object(9)
memory usage: 28.2+ MB

### keep startYear 2000-2022

In [37]:
#Convert column to a numeric column 
basics['startYear'] = pd.to_numeric(basics['startYear'])

## keep startYear 2000-2022

In [40]:
year20 = basics['startYear'] >=2000 

year22 = basics['startYear'] <= 2022

In [41]:
basics = basics[year20 & year22]

In [17]:
%%time
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33465321 entries, 0 to 33465320
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB
CPU times: user 3.71 ms, sys: 531 µs, total: 4.24 ms
Wall time: 3.77 ms

In [10]:
%%time 
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238083 entries, 0 to 1238082
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238083 non-null  object
 1   averageRating  1238083 non-null  float64
 2   numVotes       1238083 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.3+ MB
CPU times: user 146 ms, sys: 6.37 ms, total: 153 ms
Wall time: 150 ms